.step-show-tile {
  border-radius: 4px;
  margin: 15px;
  padding: 15px;
}

.step-sequence {
  font-family: "Futura";
  font-weight: bold;
  text-decoration: underline;
  font-size: 1.5em;
}

.step-instruction {
  font-size: 1.5em;
}

.step-edelet {
  margin-left: 20px;
  font-size: 1.5em;
}

.step-element-actions {
  margin-left: 10px;
}
