.steps-show-unit {
  // border-style: solid;
  // border-color: #0f0f0f;
  box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
  border-radius: 4px;
  margin: 15px;
  padding: 15px;
}

.step-show-title {
  font-family: "Futura";
  font-size: 300%;
  font-weight: bold;
  text-align: center;
  color: #3d3d3d;
}
