.listed-elements {
box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
text-align: left;
font-size: 1.5em;
// width: 400px;
margin: 15px;
padding: 15px;
}

.equipment-list-element{
}

.element-item {
  margin-left: 10px;
  float: left;
}

.element-actions {
  float: right;
}

.far {
  color: blue;
}

.materials-header {
  font-style: "Futura";
  // text-decoration: underline;
  font-size: 2rem;
}

.materials-list {
  // list-style: none;
}

.equipment-header {
  font-style: "Futura";
  // text-decoration: underline;
  font-size: 2rem;
}

.equipment-list {
  // list-style: none;
}
