.project-show-tile {
  border-style: solid;
  border-color: #0000ff;
  box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
  border-radius: 4px;
  font-size: 1.5rem;
  margin: 1rem;
  padding: 1rem;
}

.project-nucleus {
  margin: 1rem;
}

.project-show-pic {
  border-radius: 0.25rem;
  display: block;
  width: 70%;
}

.project-show-info{
  font-weight: bolder;
  font-size: 2.2rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}

      .edit-icon {
          margin-top: 0.4rem;
          font-size: 1.8rem;
      }

.ownership-group {
  text-align: left;
  font-weight: bold;
  padding-top: 0.2rem;
}

.bifurcation{
  display: flex;
  flex-wrap: wrap;
}

    .side-left {
      order: 1;
      display: flex;
      font-style: "Futura";
      font-weight: bold;
    }

          .project-show-version {
            order: 1;
            margin-right: 0.5rem;
            margin-left: 1.5rem;
          }

          .project-show-inventor {
            order: 2;
            font-weight: bold;
            margin-right: 0.5rem;
          }

    .edit-engage {
      padding-right: 1rem;
    }

    .side-right {
      order: 2;
      display: flex;
    }

.project-show-description {
  margin-top: 0.5rem;
}

.buffer {
  padding: 0.4rem;
}

.title-buffer {
  padding: 0.8rem;
}

.next-iteration {
  background-color: #2249A6;
  box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.4);
  color: #c0c0c0;
  font-weight: bold;
  font-size: 1rem;
  padding: 1rem;
  z-index: 2;
}

.user-title-path {
  margin-left: 5px;
  margin-right: 2rem;
}

.project-show-version {
  color: #1468a0;
  cursor: pointer;
}
