/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*

*= require_tree .
*= require_self
*= require foundation_and_overrides
*/

.current_user-display {
  display: flex;
  margin-top: 1rem;
}

.user-flex {
  order: 1;
  display: flex;
  margin-right: 1rem;
}

.username {
  order: 1;
  color: #c0c0c0;
  font-size: 120%;
  vertical-align: text-bottom;
  margin: 1rem 1rem 0 0;
}

.profile_pic {
  order: 2;
  width: auto;
  height: 45px;
  margin-top: 1rem;
}

.sign-out {
  order: 2;
  font-size: 140%;
  margin-top: 1rem;
}
