.field {
  font-family: "futura";
  font-weight: bold;
  color: #e6e6e6;
}

.actions {
  align-self: center;
}

div h2 {
  font-family: "futura";
  font-weight: bold;
  color: #e6e6e6;
  margin-left: 500px;
}

.shared-passage {
  font-family: "futura";
  font-weight: bold;
  color: #e6e6e6;
  margin-left: 500px;
}
