.field {
  font-family: "futura";
  font-weight: bold;
  color: #e6e6e6;
  margin-left: 500px;
  margin-right: 500px;
  margin-bottom: 20px;
}

.devicell {
//   width: 530px;
// align-self: center;
}

.devination {
  // background-image: url("graph_paper.jpg");
  // border-radius: 8px;
}

.actions {
  margin-left: 500px;
}

div h2 {
  font-family: "futura";
  font-weight: bold;
  color: #e6e6e6;
  margin-left: 500px;
}

.shared-passage {
  font-family: "futura";
  font-weight: bold;
  color: #e6e6e6;
  margin-left: 500px;
}
