body {
  background-image: url("blueprint_background_II.png");
  background-size: cover;
}

.right {
  font-family: "Futura";
  font-weight: bold;
  font-size: 0.8rem;
  list-style: none;
  float: right;
  margin-top: 11px;
  margin-right: 20px;
}

.title-area {
  font-family: "Futura";
  font-weight: bold;
  font-size: 0.8rem;
  list-style: none;
  float: left;
  margin-top: 15px;
}

.home {
  font-family: "Futura";
  font-weight: bold;
  font-size: 0.8rem;
}
