body {
  background-image: url("https://i.imgur.com/WobaNnZ.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  width: 100% !important;
  z-index: 0;
}

.session-options {

}

.right {
  font-weight: bold;
  font-size: 0.9rem;
  list-style: none;
  float: right;
  margin: 0.25rem 1.5rem 2rem 0;
}

.right a {
  color: #c0c0c0;
}

.edit-field-and-button {
  margin-top: 6px;
}

.fa-rebel {
  color: red;
}

.title-area {
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  font-size: 300%;
  list-style: none;
  float: left;
  margin-top: 0.4rem;
  margin-left: 2rem;
}

.top-bar .name a {
  color: #c0c0c0;
}

.top-bar  {
  background: linear-gradient(90deg, rgba(128,128,128,.5), rgba(128,128,128,0));
  height: 90px;
}

.top-bar ul {
  background-color: transparent;
}

.notestyle {
  background-image: url("https://i.imgur.com/SCLgzvP.jpg");
  color: #3d3d3d;
  z-index: 1;
}

.rounders {
  border-radius: 8px;
}

.main-page {
  z-index: -1;
}

.good-times {
  font-family: "Good Times";
  src: url('./GoodTimes.ttf') format('truetype');
}

#flash-messages {
  float: right;
  margin-right: 25%;
  z-index: 1;
  font-family: "Good Times";
  src: url('./GoodTimes.ttf') format('truetype');
  font-size: 175%;
  color: #c0c0c0;
}

// tag to use as an indicator for identifying specific elements on a page
.bounder {
  border-style: solid;
  border-radius: 4px;
  border-color: green;
}
