body {
  background-image: url("https://i.imgur.com/WobaNnZ.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100% !important;
  z-index: 0;
}

.right {
  font-family: "Good Times";
  font-weight: bold;
  font-size: 1.2rem;
  list-style: none;
  float: right;
  margin-top: 11px;
  margin-right: 20px;
}

.right a {
  color: #c0c0c0;
}

.edit-field-and-button {
  margin-top: 6px;
}

.fa-rebel {
  color: red;
}

.title-area {
  font-family: "Good Times";
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  font-size: 300%;
  list-style: none;
  float: left;
  margin-top: 10px;
  margin-left: 30px;
}

.top-bar .name a {
  color: #c0c0c0;
}

.top-bar  {
  background: linear-gradient(90deg, rgba(128,128,128,.5), rgba(128,128,128,0));
  height: 90px;
}

.top-bar ul {
  background-color: transparent;
}

.notestyle {
  background-image: url("https://i.imgur.com/SCLgzvP.jpg");
}

.rounders {
  border-radius: 8px;
}

.main-page {
  z-index: -1;
}

#flash-messages {
  float: right;
  margin-right: 30px;
  z-index: 1;
}
