.field-and-button {
  width: 100%;
  height: 86px;
  // border-style: solid;
}

.element-field {
  width: 75%;
  float: left;
  // border-style: solid;
  // border-color: red;
}

.element-button {
  width: 25%;
  float: left;
  margin-top: 23px;
  // border-style: solid;
  // border-color: blue;
}

.submit-clicker {
  margin-left: 16px;
}
