.project-tile {

}

.project-index-pic {
  border-radius: 3px;
  width: 380px;
  height: 320px;
}

.rpad-spacing {
  border-style: solid;
  border-color: #0000ff;
  height: 500;
}

.l-estate {
  border-style: solid;
  border-color: #ff0000;
}

.r-estate {
  border-style: solid;
  border-color: #00ff00;
}
