 .covert-background {
  height: 100vh;
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
}

.covert-background a {
  color: black;
}

.covert-style {
    color: #00ff00;
    font-family: "Courier New";
    // src: url('Good Times.ttf');
    font-weight: bold;
    font-size: 1.35rem;
    z-index: 2;
    padding-top: 15%;
    margin: 0 30% 0 30%;
}
