.member-index-tile {
  font-family: "Futura";
  color: #4c4c4c;
  padding: 10px 0px;
  margin: 20px 0px 20px 40px;
}

.index-role {
  font-weight: bold;
  float: left;
  margin: 0px 10px 10px 10px;
}

.index-divider {
  float: left;
  margin-right: 10px;
}

.index-handle {
  font-weight: bold;
}
