.user-details {
  font-family: "Futura";
  font-weight: bold;
  color: #4c4c4c;
  margin: 1rem 0 2rem 2rem;
}

.margin-spacing {
  margin: 10px 0px 10px 10px;
}


.handle-label {
  float: left;
  margin-right: 10px;
}

  .handle-entry {
    margin-left: 6px;
  }

    .user-handle-edit {
      float: left;
      margin-left: 10px;
      margin-right: 10px;
    }

    .user-handle-text {
      margin-top: 20px;
      margin-left: 32px;
    }

.role-label {
  float: left;
  margin-right: 10px;
}

.bio-label {
  float: left;
  margin-right: 10px;
}

    .bio-entry {
      margin-left: 6px;
    }

    .user-bio-edit {
      float: left;
      margin-left: 10px;
      margin-right: 10px;
    }

.details-and-equipment {
  // border-radius: 4px;
  // border-style: solid;
  // border-color: red;
  font-size: 120%;
  width: 35%;
}

.user-projects-container {
  // border-radius: 4px;
  // border-style: solid;
  // border-color: red;
  width: 55%;
}

.inner-user-projects-container {
  margin-right: 2rem;
}

.user-submissions-title {
  font-family: "Futura";
  font-size: 300%;
  font-weight: bold;
  text-align: center;
  color: #c0c0c0;
}

.user-project-index-pic {
  border-radius: 3px;
  width: 220px;
  height: 185px;
}

.user-project-tile-with-owner {
  box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
  border-radius: 4px;
  text-align: center;
  font-family: "Futura";
  font-weight: bold;
  font-size: 1.5em;
  width: 230px;
  margin: 20px;
  padding: 15px;
}

.member-info {
  max-width: 36rem;
}

  .member-info-tile {

  }

  .equipment-prof-sec {
    font-size: 2rem;
    padding-top: 10px;
    margin-left: 10px;
  }

  .member-equipment-tile {
    max-width: 36rem;
  }

    .eq-list-elems {
      padding-bottom: 10px;
    }
