.handle-label {
  float: left;
}

    .handle-entry {
      margin-left: 6px;
    }

    .user-handle-edit {
      float: left;
      margin-left: 10px;
    }

    .user-handle-text {
      margin-left: 10px;
    }

.role-label {
  float: left;
}

.role-entry {
  margin-left: 6px;
}

.bio-label {
  float: left;
}

    .bio-entry {
      margin-left: 6px;
    }

    .user-bio-edit {
      float: left;
      margin-left: 10px;
    }
    
    .user-handle-text {
      margin-left: 10px;
    }
