.user-details {
  font-family: "Futura";
  font-weight: bold;
  color: #4c4c4c;
  margin: 1rem 0 2rem 4rem;
}

.margin-spacing {
  margin: 10px 0px 10px 10px;
}


.handle-label {
  float: left;
  margin-right: 10px;
}

  .handle-entry {
    margin-left: 6px;
  }

    .user-handle-edit {
      float: left;
      margin-left: 10px;
      margin-right: 10px;
    }

    .user-handle-text {
      margin-top: 20px;
      margin-left: 32px;
    }

.role-label {
  float: left;
  margin-right: 10px;
}

.bio-label {
  float: left;
}

    .bio-entry {
      margin-left: 6px;
    }

    .user-bio-edit {
      float: left;
      margin-left: 10px;
      margin-right: 10px;
    }

    .user-bio-text {
      margin-left: 32px;
    }

.details-and-equipment {
  width: 100%
}

  .member-info-tile {
    width: 60rem;
    float: left;
  }

  .member-equipment-tile {
    
    width: 16rem;
    margin-left: 36rem;
  }
